.row{
    overflow: auto;
    position: relative;
    height: 87.5vh;
}
.col-2{
    width: 250px;
    position:fixed ;
    bottom: 0;
    border: 1px solid white;
    height: 85vh;
    overflow: auto;
    background-color: var(--yellow);
}
.col-10{
    position: absolute;
    right: 0;
}