<div style="height:100vh;width: 100vw;overflow: hidden;">
    <div class="wrapper wrapper-one">
        <app-navbar></app-navbar>  
    </div>
    <div class=" wrapper wrapper-two">
        <div class="card">
            <div class="header">
                <h1>School Management CRUD application </h1>
            </div>
            <div class="footer">    
                <p>This ‘Management crud application’ can be seen as School/Management sytem. A school management system 
                    sounds like it is interchangeable with student management, but the difference comes from what information you manage.</p>
                
                    <p>School   management  systems   include   information 
                        related to the staff. Student management software is information limited to students.</p>
                
                        
                        <p>School management can include student management information.student management does not have all aspects of school management. Your student management information systems consist of the following services:</p>                
                
                <p><b>Student Schedule Management -</b> Faculty members and parents need to have consistent information as to what their kid’s schedule is. Both field trips and academic study schedules help parents understand what’s going on. This information is beneficial at the preschool and college levels.
                </p>
                <p><b>Grade Book and Transcript Information -</b> Tracking grade book information is helpful for everyone. It keeps parents 
                    informed so they can support their kids. This breakdown also saves time for faculty on fielding questions.
                    </p>
                    <p><b>Student Health Information -</b> It’s important to track student health information concerning their privacy. Health information should include ADA accommodations and other important information. Just be aware to keep that information between you and approved parties. Knowledge 
                        allows school administration and teachers to be responsive 
                        
                        to those needs.The system should ideally provide you some information on the student’s academic progress.  You should see a time-lapse of their grade point average over a period.
                        </p>
                <p>It’s good to have student information management systems that track a wide variety of information. This information gives you a more significant potential for higher student engagement. </p>
                    
                </div>
        </div>
    </div></div>
