.row {
	padding: 0rem 2rem
}

.col-md-6 {
	padding: 0rem 4rem;
}

.add-student-container{
	border: 1px solid white;
	height: 60vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2rem 1rem;
	margin: 1rem;
}


select:required:invalid {
	color: gray;
}

option[value=""][disabled] {
	display: none;
}

option {
	color: black;
}
input.date{
	font-size: 14px;
	padding: 0;
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
	filter: invert(0.4);
	padding: 4px;
	transition: all 0.5s ease;


  }
  input:focus::-webkit-calendar-picker-indicator {
	  
	  cursor: pointer;
	  border-radius: 4px;
	  margin: 0;
	background-color: rgb(196, 196, 196);
	  filter: invert(0);

  }
input:focus,.form-group{
	
	border: none !important;
	outline:none !important	;

}

* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff var(--bc-dark);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bc-dark);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 14px;
    border: 3.5px solid var(--bc-dark);
  }
